<h1>Chat Box</h1>

<input id="chatbox" type="text" placeholder="Mensaje"/>

<div id="messageLogs">
    
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>