<br></br>
<br></br>
<h4>El rol del usuario ha sido modificado satisfactoriamente. El usuario {{user.first_name}} es ahora {{user.role}}.</h4>
<br></br>
<h4>Haz click <a href="/perfil">aqui</a> para volver al perfil</h4>