<h1>Cambiar tu contraseña</h1>

<form method="post" action="/api/sessions/resetpassword?token=${{token}}">
    <input type="password" placeholder="Nueva contraseña" name="newPassword"/>
    <button> Restablecer contraseña</button>
</form>