<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/signup">Registro</a>
        <a href="/login">Inicio Sesión</a>
        <a href="/logout">Cerrar Sesion</a>
    </nav>
    {{{body}}}

</body>
</html>